<script>
    function confirmPassword() {
        var pw1 = document.getElementById('user_password').value;
        var pw2 = document.getElementById('user_confirm_password').value;

        <% if ( !user.id) { %>
            if (!pw1 || !pw2) {
                alert('Password and Confirmation fields must be filled in.');
                return false;
            }
        <% } %>

        if (pw1 === pw2) {
            return true;
        } else {
            alert('Passwords do not match.');
            return false;
        }
    }
</script>


<ul>
    <li>
        <% if ( !user.id) { %>
            <label for="preg" class="rem">User name:</label>
            <input type="text" id="username" name="username" value="<%= user.username %>" autocomplete="off"/>
        <% } else { %>
            Username: <%= user.username %>
        <% } %>
    </li>

    <% if ( user.id) { %>
        <% if (locals.loginUser.isAdmin || locals.loginUser.id === user.id) { %>
            <li>
                Token:
                <b><%= user.token || 'NO TOKEN' %></b>
                <a href="/users/<%= user.id %>/token?_method=PUT" class="button">Generate new token</a>
            </li>
        <% } %>
    <% } %>

    <li>
        <div>
            Photo:
            <br/>

            <% if (user.id) { %>
                <div>
                    <label for="img">Keep the current photo:</label>
                    <input type="checkbox" id="keepPhoto" name="keepPhoto" value="1" checked>
                </div>
            <% } %>

            <div>
                <label for="img">Attach file (Max size 2MB):</label>
                <input type="file" id="photo" accept="image/*" name="photo">
            </div>

        <% if (user.photo) { %>
                <img class="photo" src="<%= user.photo.url %>"/>
            <% } else { %>
                <img class="photo" src="/images/face.png"/>
            <% } %>
        </div>
    </li>

    <li>
        <% if (!user.id) { %>
            <span class="text-danger">Enter the new password twice</span>
        <% } else { %>
            <span class="text-danger">Leave blank to not change the current password</span>
        <% } %>
        <ul>
            <li>
                <label for="user_password" class="rem">Password:</label>
                <input type="password" id="user_password" name="password" autocomplete="off"/>
            </li>

            <li>
                <label for="user_confirm_password" class="rem">Confirm Password:</label>
                <input type="password" id="user_confirm_password" autocomplete="off"/>
            </li>
        </ul>

    </li>
</ul>

<div>
    <a href="/goback" class="button">Cancel</a>
</div>

<div>
    <input type="submit" value="Save" onclick="return confirmPassword()">
</div>
