<h1>
    User:
</h1>

<ul>

    <li>
        Photo:
        <br/>
        <% if (user.photo) { %>
            <img class="photo" src="<%= user.photo.url %>"/>
        <% } else { %>
            <img class="photo" src="/images/face.png"/>
        <% } %>
    </li>

    <li>
        User name:
        <b><%= user.username %></b>
    </li>

    <li>
        Administrator:
        <b><%= user.isAdmin ? "Yes" : "No" %></b>
    </li>

    <% if (locals.loginUser.isAdmin || locals.loginUser.id === user.id) { %>
        <li>
            Token:
            <b><%= user.token || 'NO TOKEN' %></b>
        </li>
    <% } %>
</ul>

<% if (locals.loginUser && (locals.loginUser.isAdmin || locals.loginUser.id === user.id)) { %>
    <p>
        <a href="/users/<%= user.id %>/edit" class="button">Edit</a>

        <a href="/users/<%= user.id %>?_method=DELETE"
           onClick="return confirm('Delete user: <%= user.username %>');"
           class="button">Delete</a>
    </p>
<% } %>

<a href="/goback" class="button">Go back</a>
